body {
  background-color: #db0d0d;
  font-family: Arial, sans-serif;
}

img {
  width: 15%; /* Defina o valor desejado */
  height: 15%; /* Defina o valor desejado */
}

header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header #logo img {
  width: 70px;
}

header .list-item {
  display: flex;
  justify-content: flex-end;
}

.container {
  background-color: #ffffff;
  margin: 15px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-top: 0;
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buscar-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #ecc204;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buscar-button:hover {
  background-color: #cfbb08;
}

.lista-servicos {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-servicos li {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.lista-servicos li h2 {
  margin-top: 0;
}

.home-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: hsl(0, 0%, 100%);
  color: #000000;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #ecf009;
}


.imagem-servico {
  width: 40%; /* Defina a largura desejada para a imagem */
  height: auto; /* A altura será ajustada proporcionalmente */
  margin-top: -200px; /* Margem superior para separar a imagem de outros elementos */
  object-fit: cover;
  border-radius: 50%; /* Adicione borda arredondada se desejar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicione uma sombra se desejar */
  float: right;
  border: 2px solid #000;
}